<!-- footer -->
<footer id="footer">
  <div class="bg-primary text-center">
    <div class="container wrapper">
      <div class="m-t-xl m-b">
        <a href="http://ruby-china.org/liwei78" target="_blank" class="btn btn-lg btn-dark b-white bg-empty m-sm">Ruby China</a>
        <a href="http://www.linkedin.com/in/liwei1978" target="_blank" class="btn btn-lg btn-warning b-white bg-empty m-sm">Linkedin</a>
        <a href="https://github.com/liwei78" target="_blank" class="btn btn-lg btn-warning b-white bg-empty m-sm">Github</a>
      </div>
    </div>
  </div>
</footer>
<!-- / footer -->
