<div class="col-sm-3">
  <h5 class="font-semibold">About me</h5>
  <div class="line line-dashed"></div>
  <div class="m-b-lg">
    <span class="pull-left thumb-sm avatar m-r-sm m-t-xs">
      <img src="/images/avatar.png" class="img-circle">
    </span>
    <p class="clear text-sm"></p>
  </div>

  <ul class="list-unstyled m-b-lg">
    <li>
      <p>2016年目标：工作拿出成绩，写知乎专栏，写自习室公众号，写《Rails 实践》第二版。</p>
      <div class="line"></div>
    </li>
    <li>
      <p>hi，我是里克，这是我的技术博客，从2007年开始，我在这里记录工作中的点点滴滴，同时，它也让我认识了很多的朋友。我相信，『坚持』就会有好运。</p>
      <div class="line"></div>
    </li>
    <li>
      <p>我的邮箱：hi(at)liwei.me</a></p>
      <div class="line"></div>
    </li>
    <li>
      <p>《Rails 实践》<a href="http://rails-practice.com" target="_blank">rails-practice.com</a></p>
      <div class="line"></div>
    </li>
    <li>
      <p><a href="http://www.jianshu.com/users/14e202e26495/latest_articles" target="_blank">简书主页</a></p>
      <div class="line"></div>
    </li>
    <li>
      <p><a href="http://www.jianshu.com/users/14e202e26495/latest_articles" target="_blank">知乎主页</a></p>
      <div class="line"></div>
    </li>
  </ul>

  <h5 class="font-semibold">自习室公众号</h5>
  <div class="line line-dashed"></div>
  <div>
    <img src="/uploads/railser.jpg" />
  </div>
  <div class="line line-dashed"></div>

  <h5 class="font-semibold">Tags</h5>
  <div class="line line-dashed"></div>
  <div class="tags m-b-lg">
    {% assign tags_list = site.tags %}
    {% include tags_list.html %}
  </div>

  <div class="line line-dashed"></div>
  <div>
    <a href="{{ site.production_url }}/rss.xml">rss</a>
  </div>
</div>
