---
layout: default
---

<section id="content">
  <div class="container m-t-lg m-b-lg">
    <div class="row">
      <div class="col-sm-9 post">
        <h1>
          {{ page.title }}
        </h1>
        
        <div class="text-muted">
          <i class="fa fa-user icon-muted"></i> by <a href="/me.html" class="m-r-sm">{{ site.author.name }}</a>

          <i class="fa fa-clock-o icon-muted"></i> {{ page.date | date_to_long_string }} 
          
          {% assign tags_list = page.tags %}
          {% if tags_list %}
            {% for tag in tags_list %} 
              <i class="fa fa-tags"></i>
              <a href="/tags.html#{{ tag }}-ref" class="m-r-sm">{{ tag }}</a>
            {% endfor %}
          {% endif %}

          {% assign categories_list = page.categories %}
          {% for category in categories_list %}
            <i class="fa fa-folder"></i>
            <a href="/categories.html#{{ category }}-ref" class="">
              {{ category | join: "/" }}
            </a>
          {% endfor %}

          {% if page.recommend %}
            <label class="label bg-info m-l-xs pull-right">我的推荐</label>
          {% endif %}
        </div>
        <div class="line line-lg"></div>
        {{ content }}
        <div>
          <br />
          <!-- JiaThis Button BEGIN -->
          <div class="jiathis_style_24x24">
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_tqq"></a>
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_cqq"></a>
            <a class="jiathis_button_evernote"></a>
            <a class="jiathis_button_twitter"></a>
            <a class="jiathis_button_email"></a>
            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
          </div>
          <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
          <!-- JiaThis Button END -->
        </div>
      </div>
      {% include sider.html %}
    </div>
  </div>
</section>
