<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }} - {{ site.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<link href='{{ ASSET_PATH }}/css/style.css' rel="stylesheet" media="all">
	<link href="http://feeds.feedburner.com/{{ site.author.feedbaname }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
</head>
<body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="/" class="brand">TestLi</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><a href="/logics">Logic List</a></li>
              <li><a href="/blogs">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span9">
          
          <div class="hero-unit">
            <p>
              <img alt="Cover" src="/assets/cover.jpg">
            </p>
          </div>
        </div>
        <div class="span3">
          <div class="well sidebar-nav">
            <h3>Sidebar</h3>
            <ul class="nav nav-list">
              <!-- %li.nav-header Manage Test Cases for Happiness. -->
              <li><a href="/path1">Reg</a></li>
              <li><a href="/path2">Login</a></li>
              <li><a href="/path3">About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <footer>
        <p>@2013</p>
      </footer>
    </div>
  


  
  {% include JB/analytics %}
</body>
</html>
